@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CARDS CONTAINER */

/* .container {
  width: 100%;
} */

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.trackerContainer {
  align-items: center;
  justify-content: center;
  margin: 30px;
  border:2px solid;
}

.cardDiv {
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  width: 250px;
}

.cardImage {
  /* height: 100px; */
  width: 100%;
}

.cardText {
  font-size: 20px;
}

.categoryCards {
  display: flex;
}

.cardBody {
  font-size: 16px;
  text-align: center;
}


/* HEADER DROPDOWN */

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightblue;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav span {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* CAROUSEL */

.carousel {
  padding-top: 15px;
  height:400px;
  overflow:hidden;
}

.carouselImage {
  width: 100%;
margin-top:-200px;}

/* LOGIN, SIGNUP, EDITUSER, ADDPROVIDER FORMS */

.box {
  /* width:400px; */
  padding-bottom: 40px;
  margin-bottom:40px;
  border-radius: 45px;
  /* position: absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
  background: lightgrey;
  text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background-color: lightblue;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="date"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  /* padding: 10px; */
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: lightgrey;
  background: lightblue;
}

.box button[type="submit"],
.box button[type="reset"],
.box button[type="button"] {
  border: 0;
  background: lightblue;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  /* margin-right:10px; */
}

.box button[type="submit"]:hover,
.box button[type="reset"]:hover,
.box button[type="button"]:hover {
  background: white;
  margin: 20px auto;

}

/* TRACKER */

.profilePic {
  width: 200px;
  margin: 0 auto;
}

.tracker {
  margin-top: 25px;
  padding-top: 20px;
  border: 2px solid;
}

.goal {
  border: 1px solid;
  padding:15px;
}

.addGoal {
 text-align:center;
}

.trackerColumnHeader {
  text-align: center;
  font-size: 35px;
}

/* FAVORITES */
.favoritesImg {
  height: 20px;
}

.favorites {
  text-align:center;
}

/* SEARCHEDPROVIDER */

.searchedProvidersImg {
  width: 100%;
}

.providerRow,
.reviewFormRow,
.reviewsRow {
  border: 1px solid;
  font-size:20px;
  padding:20px;
}

.providerRow {
  min-height: 300px;
}
/* PROGRESSBARS FOR GOALS */


/* ADDREVIEWFORM */
.addReviewForm,
.seeReviewsHeader {
  font-size: 25px;
  text-align:center;
}

.companyname {
  /* font-size:40px; */
}

.providerCollapsibleName {
  font-size: 40px;
  text-align: center;
}

/* SEARCHBAR */

.searchForm {
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  right: 50%;
}

.searchBar {
  width: 45px;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  border-radius: 40px;
  font-family: FontAwesome, 'Merriweather Sans', sans-serif;
  text-align: center;
}

.searchBar:hover {
  width: 150px;
  transition: .75s;
  background: white;
}

.search {
  display: flex;
}

.favorites {
  margin: 0 auto;
  align-content: center;
}

.footer {
  background-color: lightblue;

  /* width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; */
}

.providersContainer {
  text-align: center;
  /* display:flex; */
  padding-left:25px;
  padding-right:25px;
  text-decoration: none !important;
}

.providersContainerHeader {
    font-size: 75px;
    text-align:center;
    text-decoration: none !important;
    align-content:center;
}

a, a:hover {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  color: black;
}

.motto {
  margin-top: 8px;
  text-align: center;
}

.providerTypeSelector {
  border-radius: 40px;
  text-align: center;
}

.serviceSelector {
  text-align: center;
}

select {
  width: 400px;
  text-align-last: center;
}

.reviewedByColumn {
  display: block;
}

.navbar-right a {
  float: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 50px;
}

.card-img-top {
  background-size: cover;
  height: 200px;
}

.profile-img-top {
  background-size: cover;
  height: 500px;
  margin:25px;
}

.provider-img-top {
  background-position:center;
  background-size: cover;
  height: 100%;
}

.carousel {
  margin: 25px;
}

.clientlogin,
.providerSignupForm {
  margin-bottom: 75px;
  background-color: lightgrey;
}

.fa-shoe-prints {
  color: white;
}

div .loginLogo {
  font-size: 50px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.submitandreset {
  display: flex;
  ;
  justify-content: space-between;
}

.soberTime {
  text-align: center;
  font-size:25px;
  margin-top:40px;
}

.cancelGoalBtn {
  /* position: relative;
    top: 0;
    right: 0; */
    float:right;
}

.addGoalCollapsible {
  text-align: center;
  font-style:oblique;
}

.deleteFavoriteBtn {
  float:right;
}

.userFavorite {
  font-size:25px;
  border:1px solid;
  margin:3px;
  padding:3px;
}

.addReviewBtn {
  font-size:20px;
}

.addButton:hover {
  font-size:35;
  color:lightblue;
}

.closeButton:hover {
color:rgb(190, 27, 27);
}