@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CARDS CONTAINER */

.container {
  width: 100%;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.cardDiv {
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  width: 250px;
}

.cardImage {
  /* height: 100px; */
  width: 100%;
}

.cardText {
  font-size: 20px;
}

.categoryCards {
  display: flex;
}

.cardBody {
  font-size: 16px;
  text-align: center;
}


/* HEADER DROPDOWN */

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightblue;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav span {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  /* overflow: hidden; */
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* CAROUSEL */

.carousel {
  padding-top: 15px;
}

.carouselImage {
  width: 100%;
  height: 300px;
}

/* LOGIN, SIGNUP, EDITUSER, ADDPROVIDER FORMS */

.box {
  /* width:400px; */
  padding-bottom: 40px;
  border-radius: 45px;
  /* position: absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
  background: lightgrey;
  text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background-color: lightblue;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="date"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  /* padding: 10px; */
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: lightgrey;
  background: lightblue;
}

.box button[type="submit"],
.box button[type="reset"],
.box button[type="button"] {
  border: 0;
  background: lightblue;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  /* margin-right:10px; */
}

.box button[type="submit"]:hover,
.box button[type="reset"]:hover,
.box button[type="button"]:hover {
  background: white;
  margin: 20px auto;

}

/* TRACKER */

.profilePic {
  width: 200px;
  margin: 0 auto;
}

.tracker {
  margin-top: 25px;
  padding-top: 20px;
  border: 2px solid;
}

.goal {
  border: 1px solid;
}

.addGoal {
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.trackerColumnHeader {
  text-align: center;
  font-size: 25px;
}

/* FAVORITES */
.favoritesImg {
  height: 20px;
}

/* SEARCHEDPROVIDER */

.searchedProvidersImg {
  width: 100%;
}

.providerRow,
.reviewFormRow,
.reviewsRow {
  border: 1px solid;
}

/* PROGRESSBARS FOR GOALS */


/* ADDREVIEWFORM */
.addReviewForm,
.seeReviewsHeader {
  font-size: 25px;
}

.companyname {
  /* font-size:40px; */
}

.providerCollapsibleName {
  font-size: 40px;
  text-align: center;
}

/* SEARCHBAR */

.searchForm {
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  right: 50%;
}

.searchBar {
  width: 45px;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  border-radius: 40px;
  font-family: FontAwesome, 'Merriweather Sans', sans-serif;
  text-align: center;
}

.searchBar:hover {
  width: 150px;
  transition: .75s;
  background: white;
}

.search {
  display: flex;
}

.favorites {
  margin: 0 auto;
  align-content: center;
}

.footer {
  background-color: lightblue;

  /* width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; */
}

.providersContainerHeader {
  text-align: center;
  font-size: 35px;
  text-decoration: none !important;
}

a,
a:hover {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  color: black;
}

.motto {
  margin-top: 8px;
  text-align: center;
}

.providerTypeSelector {
  border-radius: 40px;
  text-align: center;
}

.serviceSelector {
  text-align: center;
}

select {
  width: 400px;
  text-align-last: center;
}

.reviewedByColumn {
  display: block;
}

.navbar-right a {
  float: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 50px;
}

.card-img-top {
  background-size: cover;
  height: 200px;
}

.profile-img-top {
  background-size: cover;
  height: 300px;
}

.provider-img-top {
  background-size: cover;
  height: 100%;
}

.carousel {
  margin: 25px;
}

.clientlogin,
.providerSignupForm {
  margin-bottom: 75px;
  background-color: lightgrey;
}

.fa-shoe-prints {
  color: white;
}

div .loginLogo {
  font-size: 50px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.submitandreset {
  display: flex;
  ;
  justify-content: space-between;
}

.soberTime {
  text-align: center;
}